body {
    background-image: url('./../img/fundo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cabeçalho {
    text-align: center;
    font-size: 20px;
    color: white;
}

#inicio {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: flex;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#inicioMecanico {
    max-width: 500px;
}

#gameover {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#gameoverImg {
    max-width: 500px;
}

#invasao {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#invasaoIMG {
    max-width: 500px;
}

#traicao {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#traicaoIMG {
    max-width: 500px;
}

#fugirArmado {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#fugirIMG {
    max-width: 500px;
}

#meuAndroid {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mortoTiroteio {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#mortoTiroteioIMG {
    max-width: 500px;
}

#fugaHelic {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#fugaHelicIMG {
    max-width: 500px;
}

#pegaArmadura {
    width: 500px;
    height: 500px;
    margin: 10px 10px;
    display: none;
    border: solid 2px;
    text-align: center;
    color: #fdef00;
    background: rgba(0, 0, 0, 0.89);
    font-weight: bold;
    font-size: 20px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

#pegaArmaduraIMG {
    max-width: 500px;
    max-height: 300px;
}